/* custom color based from Kitty terminal */
/* theme: Gruvbox Dark Soft */

* {
    al:         #32302F;
    bg:         #32302F;
    se:         #CC241D;
    fg:         #EBDBB2;
    ac:         #CC241D;
    red:        #CC241D;
    green:      #98971A;
    yellow:     #D79921;
    blue:       #458588;
    purple:     #B16286;
    cyan:       #458588;
}
